
/**Projemin Css Kısmı **/

.sol { float:left; margin:0 0 10px 10px;}

.sag { float:right; margin:0 0 10px 10px;}
     
.insan{ float:left; margin:0 0 10px 10px;}

.suc{ float:left; margin:0 0 10px 10px;}

.beyaz{ float:left; margin:0 0 10px 10px;}

.budala{ float:left; margin:0 0 10px 10px;}

.kramazov{ float:left; margin:0 0 10px 10px;}



